{:paths ["src" "resources" "target"]
 :deps
 {org.clojure/clojure       {:mvn/version "1.10.0"}
  org.clojure/clojurescript {:mvn/version "1.10.439"}
  com.bhauman/figwheel-main {:mvn/version "0.1.9"}
  comnik/clj-3df            {:git/url       "git@github.com:comnik/clj-3df.git"
                             :sha           "52753c7d3c05f1144518e4d2c1d835452877ddc8"
                             :deps/manifest :deps}
  hicada                    {:mvn/version "0.1.8"}
  datascript                {:mvn/version "0.17.1"}}}
